@import 'base/variables';

.menu {
  list-style: none;
  height: $menu-height;
  line-height: $menu-height;
  margin: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-left: 3px;

  &__container {
    height: $menu-height;
    background: $gray-dark;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
  }

  &__item {
    padding: 0 10px;

		&:first-of-type {
			padding-left: 25px;
		}

		&:last-of-type {
			padding-right: 25px;
		}

    a {
      color: $menu-item-color;

      &:hover {
        color: $menu-item-color-active;
      }

      :global {
        .ion-heart {
          font-size: 30px;

          &:hover {
            color: red;
          }
        }
      }
    }

    &--active {
      a {
        color: $menu-item-color-active;

        :global {
          .ion-heart {
            color: red;
          }
        }
      }
    }

    &-left {
      float: left;
    }

    &-right {
      float: right;
    }

		&-logo {
			position: absolute;
			width: 100%;
			pointer-events: none;
			text-align: center;

			img {
				width: 35px;
				opacity: 0.8;

			}
		}
  }
}
