@import 'base/variables';

.seasons {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

  &__list {
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.6) 0 6px 16px 4px;
	background: $body-bg;
	width: 450px;
	color: #fff;
  }
}

.list-item {
  display: flex;
  width: 100%;
  background: $body-bg;
  padding: 5px 40px;
  cursor: pointer;

  &__text {
	height: 60px;
	line-height: 60px;
  }

  &__health {
	margin-left: auto;
	display: flex;
	align-items: center;

	i {
	  font-size: 22px;
	  color: rgba(255, 255, 255, 0.6);
	}

	&-status {
	  margin-left: 5px;
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  transition: background-color 500ms linear;
	}
  }

  &:hover {
	background: lighten($body-bg, 20%);
	transition: background-color 200ms linear;
  }

  &--active {
	background: lighten($body-bg, 20%);
  }
}
