# Development configuration can be loaded form this file via env variables
#
# To enable flags, create a .env file:
# ```
#   cp .env.example .env
# ```
# and set the values in the new .env file to what you prefer



# ============================================================================
# Config:
#
# This set of configurations allow you to change the configuration of existing
# features.
# ============================================================================


# Cache Timeout
#
# Determine how long the API cache should be held. This is measured in hours.
# This includes the cache for Torrent Providers and Metadata Providers.

CONFIG_CACHE_TIMEOUT=1



# API Timeout
#
# Set the time, in milliseconds, that the API has to return. Increasing this
# may return faster torrents, but the API will take longer to find them.

CONFIG_API_TIMEOUT=10000


# ============================================================================
# Flags:
#
# These allow you to enable experimental features or non-recommended in
# PopcornTime with the flip of a switch!
# ============================================================================

# English subtitles support
#
# This flag allows subtitles in torrents to be played along with the movie. Be
# careful, since this is a very early stage experiment! Currently this only
# allows English subtitles. Support for subtitles of multiple languages is
# planned for a future release.

FLAG_SUBTITLES=false


# ============================================================================
# Testing:
#
# This set of configuration is used for testing purposes only. It lets the
# compiler how to compile the app for the testing environment.
# ============================================================================



# Use Mock Data
#
# Force the API to use mock data. This method falls back to the network if no
# mock data is found. Mock data is located in ./tests/api/ and is named as
# *.mock.js.

API_USE_MOCK_DATA=false
