@import 'base/variables';

.bookmarked {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 30px;
  opacity: 0.6;
  transition: $transition-opacity-in;
  z-index: 2000;
  cursor: pointer;
  text-align: center;
  right: 0;

  &:hover {
	opacity: 1;
  }

  &--yes {
	@extend .bookmarked;

	color: $bookmarked-color;
  }

  &--no {
	@extend .bookmarked;

	color: $bookmark-color;

	&:hover {
	  color: $bookmarked-color;
	}
  }
}
