//
//  Bootstrap variables override
//

// Base
$body-bg: #252525;
$gray-dark: #151515;
$link-color: #1B221C;
$gray: #303030;
$brand-primary: white;
$enable-rounded: false;
$enable-hover-media-query: true;

$grid-breakpoints: (
		xs: 0,
		sm: 544px,
		md: 768px,
		lg: 992px,
		xl: 1200px
);

$container-max-widths: (
		sm: 576px,
		md: 720px,
		lg: 940px,
		xl: 1200px
);

// Input
$input-bg: rgb(53, 53, 53);
$input-border-color: rgb(53, 53, 53);
$input-group-addon-bg: rgb(53, 53, 53);
$input-color: white;

// Components
$component-active-bg: gray;
$container-max-widths: (
		sm: 576px,
		md: 720px,
		lg: 1440px,
		xl: 1540px
) !default;
$headings-color: white;
$navbar-dark-color: #848484;

// Fonts
$font-family-base: 'Open Sans', sans-serif;
$headings-font-weight: 400;

// Transitions
$transition-opacity-in: opacity 0.1s ease-in;
$transition-opacity-out: opacity 0.1s ease-out;

.row-margin {
  margin: 20px 0;
}

::selection {
  background: black;
  color: white;
}

.btn-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

//
// Custom Components
//

// Card list
$card-list-color: $navbar-dark-color;

// Card
$card-max-with: 140px;
$card-min-with: 140px;
$card-max-height: 210px;
$card-min-height: 210px;
$card-title-color: $card-list-color;
$card-title-color-hover: darken($card-list-color, 20%);

// List
$list-item-bg: $body-bg;
$list-item-bg-hover: lighten($body-bg, 20%);
$list-item-bg-disabled: darken($body-bg, 5%);

// Item
$item-background-height: 100%;
$item-summary-max-with: 600px;

// Plyr
$plyr-color-main: gray;
$plyr-tooltip-radius: 0;

// Lists
$default-box-shadow: rgba(0, 0, 0, 0.6) 0 6px 16px 4px;
$list-max-height: 600px;
