.list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-start;

  &__item {
	margin: 3.5px;
	position: relative;
	width: 130px;

	&--hor {
	  @extend .list__item;

	  width: 200px;
	}

	&--available {
	  cursor: pointer;

	  &:hover {
		.list__item-overlay {
		  opacity: 0;
		}
	  }
	}

	&--active {
	  .list__item-overlay {
		opacity: 0;
	  }
	}

	&--disabled {
	  .list__item-overlay {
		opacity: 0.85;
		cursor: default;
	  }
	}

	&-title {
	  color: white;
	  margin-top: 10px;
	  margin-bottom: 15px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}

	&-image {
	  width: 100%;
	  height: 100%;

	  &-placeholder {
		width: 80px;
	  }

	  &-container {
		position: relative;
		width: 100%;
		box-shadow: $default-box-shadow;
		background: transparent;
		text-align: center;
		height: 190px;

		&--hor {
		  @extend .list__item-image-container;

		  height: 130px;

		}
	  }
	}

	&-overlay {
	  position: absolute;
	  background: #000;
	  width: 100%;
	  height: 100%;
	  opacity: 0.4;
	  top: 0;
	  transition: $transition-opacity-in;
	}
  }
}

/*
.list {
  box-shadow: $default-box-shadow;
  background: $body-bg;
  width: 100%;
  color: #FFF;
  max-height: $list-max-height;
  overflow-x: auto;

  &-item {
	position: relative;
	display: flex;
	width: 100%;
	background: $list-item-bg;
	padding: 5px 30px;
	cursor: pointer;

	&__text {
	  height: 60px;
	  line-height: 60px;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  z-index: 2;
	}

	&__health {
	  margin-left: auto;
	  display: flex;
	  align-items: center;

	  i {
		font-size: 22px;
		color: rgba(255, 255, 255, 0.6);
	  }

	  &-status {
		margin-left: 5px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		transition: background-color 500ms linear;

		&:first-of-type {
		  margin-left: 20px;
		}
	  }
	}

	&:hover {
	  background: $list-item-bg-hover;
	  transition: background-color 200ms linear;
	}

	&--active {
	  background: $list-item-bg-hover;
	}

	&--disabled {
	  background: $list-item-bg-disabled;

	  &:hover {
		background: $list-item-bg-disabled;
	  }
	}

	&--watched {
	  opacity: 0.4;
	  background: darken($body-bg, 2%);

	  &:hover {
		opacity: 1;
	  }
	}
  }

}
*/
