@import 'base/variables';

.plyr {
  min-height: $item-background-height;
  padding: 0;
  width: 100%;
  z-index: 1055;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  > div {
	z-index: 1055;
  }

  &__close-button {
	position: absolute !important;
	top: 0;
	right: 0;
	z-index: 1060;
	color: white !important;
  }

  :global {
	.plyr {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  z-index: -100;
	  min-height: $item-background-height;
	  opacity: 1;
	  height: $item-background-height;
	  overflow: hidden;

	  &__video-wrapper {
		&.plyr--setup {
		  padding: 0;
		  height: 100%;
		}
	  }
	}
  }
}
