.show {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list-container {
	max-width: 100%;
	overflow-y: auto;
	transform: rotateX(180deg);

	:global {
	  .list {
		transform: rotateX(180deg);
		flex-flow: row;
	  }
	}

	&:last-of-type {
	  :global {
		.list {
		  min-height: 420px;
		}
	  }
	}
  }
}
