@import 'base/variables';

.episode {
  background: $body-bg;
  width: 100%;
  box-shadow: $default-box-shadow;
  color: white;
  padding: 5px 40px;
  max-height: $list-max-height;
  overflow-x: auto;

  &__title {
	position: relative;
	height: 60px;
	font-size: 20px;
	line-height: 60px;
  }

  &__watched {
	position: absolute;
	right: 0;
	top: 0;
  }

  p {
   font-size: 14px;
	padding-bottom: 10px;
  }
}
