.container {
  display: flex;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
}

.quality {
  color: rgba(255, 255, 255, 0.6);
  font-weight: lighter;
  font-size: 15px;
  margin: 0 10px;
}

.health {
  display: flex;
  align-items: center;
  margin-left: 10px;

  i {
	font-size: 22px;
	color: rgba(255, 255, 255, 0.6);
  }

  &__status {
	margin-left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transition: background-color 500ms linear;
  }
}

:global {
  .switch {
	width: 32px;
	height: 20px;
	border-radius: 13px;
	cursor: pointer;
	display: inline-block;
	background: rgba(255, 255, 255, 0.6);
	margin-top: 10px;

	&.on {
	  .switch-toggle {
		left: 17px;
		top: 4px;
	  }
	}

	&.disabled {
	  cursor: not-allowed;
	}

	&-toggle {
	  width: 13px;
	  height: 13px;
	  left: 2px;
	  top: 4px;
	  border-radius: 12px;
	  background: darken(#999, 20%);
	  position: relative;
	  transition: left .2s ease-in-out;
	}
  }

}
