@import 'base/variables';

.background {
  background-color: #373737;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: $item-background-height;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;

  &__image {
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	z-index: 10;
	border: 0 solid transparent;

	img {
	  box-shadow: rgba(0, 0, 0, 0.6) 0 6px 16px 4px;
	  background: gray;
	}
  }

  &__overlay {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	background: black;
	position: absolute;
  }
}
