@import 'base/variables';

.info {
  z-index: 10;
  color: white;

  &__title {
	min-height: 50px;
  }

  &__genres * {
	text-transform: capitalize;
  }

  &__basic {
	min-height: 25px;
  }

  &__certification {
	border: 1px solid white;
	box-sizing: border-box;
	color: white;
	display: inline-block;
	padding: 1px 9px;
  }

  &__details {
	display: flex;
	align-items: center;

	&-container {
	  height: 80px;
	  display: flex;
	  flex-direction: column;
	  position: absolute;
	  bottom: 0;
	}

	> div {
	  margin-right: 25px;
	}

	:global {
	  .ion-social-youtube-outline {
		font-size: 30px;
		cursor: pointer;

		&:hover {
		  color: red;
		}
	  }

	  .dv-star-rating {
		font-size: 1.3rem;
		min-width: 115px;
	  }
	}
  }

  i {
	color: white;

	:global {
	  .ion-heart {
		&:hover {
		  color: $bookmarked-color;
		}
	  }
	}
  }

  &__status {
	text-transform: capitalize;
  }

  &__summary {
	font-weight: 100;
	line-height: 150%;
	max-width: $item-summary-max-with;
	margin-bottom: 80px;
  }

  &__bookmarked {
	position: relative;
  }

}
