.item {
  position: relative;
  height: 100%;

  &__content {
	display: flex;
	width: 100%;
	height: 100%;

	&--movie {
	  @extend .item__content;

	  justify-content: center;
	  align-items: center;
	}

	&--show {
	  @extend .item__content;

	  flex-flow: column;
	}
  }

  &__main {
	&--movie {
	}

	&--show {
	  min-height: 450px;
	}
  }

  &__row {
	display: flex;
	justify-content: center;

	&--movie {
	  @extend .item__row;

	  width: 100%;
	}

	&--show {
	  @extend .item__row;

	  margin: 100px 50px;

	  &:last-of-type {
		display: initial;
		margin-top: 0;
		margin-bottom: 100px;
	  }
	}
  }
}

.content {
  &__container {
	width: 550px;
	position: relative;
  }
}
